In [1]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%matplotlib inline

# import necessary modules
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
import datetime
from scipy import stats, integrate

In [23]:
SB_to_Todds = pd.read_csv('data/SirBarton_to_Todds_F.csv')
SB_to_Todds.head()

  Day of week      Date  Time  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:05               3             93.7         30.7
1   Wednesday  1/1/2014  0:25               2             77.0         37.4
2   Wednesday  1/1/2014  0:35               1             65.0         44.3
3   Wednesday  1/1/2014  0:40               1             65.0         44.3
4   Wednesday  1/1/2014  0:45               1            121.0         23.8

In [24]:
Todds_to_SB = pd.read_csv('data/Todds_to_SirBarton_F.csv')
Todds_to_SB.head()

  Day of week      Date  Time  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:15               1             93.0         31.0
1   Wednesday  1/1/2014  0:20               1             63.0         45.7
2   Wednesday  1/1/2014  0:25               2             83.0         34.7
3   Wednesday  1/1/2014  0:30               1            103.0         28.0
4   Wednesday  1/1/2014  0:35               1             85.0         33.9

In [25]:
A_to_Rich = pd.read_csv('data/Alumni_to_Richmond_F.csv')
A_to_Rich.head()

  Day of week      Date  Time  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:20               4             96.0         37.5
1   Wednesday  1/1/2014  0:25               2             89.0         40.4
2   Wednesday  1/1/2014  0:30               3            100.7         35.8
3   Wednesday  1/1/2014  0:35               1            110.0         32.7
4   Wednesday  1/1/2014  0:40               2            107.0         33.6

In [26]:
Rich_to_A = pd.read_csv('data/Richmond_to_Alumni_F.csv')
Rich_to_A.head()

  Day of week      Date  Time  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:10               1            100.0         36.0
1   Wednesday  1/1/2014  0:35               3             99.7         36.1
2   Wednesday  1/1/2014  0:40               3            113.7         31.7
3   Wednesday  1/1/2014  0:55               2            106.0         34.0
4   Wednesday  1/1/2014  1:05               2            120.0         30.0

In [27]:
Todds_to_Rich = pd.read_csv('data/Todds_to_Richmond_F.csv')
Todds_to_Rich.head()

  Day of week      Date  Time  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:05               2            120.0         45.0
1   Wednesday  1/1/2014  0:10               1            143.0         37.8
2   Wednesday  1/1/2014  0:25               2            126.0         42.9
3   Wednesday  1/1/2014  0:35               1            231.0         23.4
4   Wednesday  1/1/2014  0:40               4            139.0         38.8

In [28]:
Rich_to_Todds = pd.read_csv('data/Richmond_to_Todds_F.csv')
Rich_to_Todds.head()

  Day of week      Date  Time  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:20               1            165.0         32.7
1   Wednesday  1/1/2014  0:25               3            147.7         36.6
2   Wednesday  1/1/2014  0:30               2            135.0         40.0
3   Wednesday  1/1/2014  0:35               2            145.0         37.2
4   Wednesday  1/1/2014  0:50               1            165.0         32.7

In [95]:
def BTstats(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(288*len(numberdays))
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [96]:
BTstats(Rich_to_Todds)

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,34.069179,9.131404,62484.0,0.600993,43.5,18.9,36.7,1.276814,2.301587,0.802602

In [50]:
print(Rich_to_A['Speed (mph)'].mean())
(Rich_to_A['Speed (mph)'].std(ddof = 1))

37.168083395783604

7.209501503437844

In [84]:
numberdays = Rich_to_A['Date'].unique()
numberdays.value_counts()

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'