In [1]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%matplotlib inline

# import necessary modules
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
import datetime
import geopandas as gp
from scipy import stats, integrate
#Adjusts what can be displayed when calling a pandas dataframe|
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

height has been deprecated.

In [2]:
#For now, enter the weekdays desire here in full
Weekday = ['Monday','Tuesday','Wednesday','Thursday','Friday']
Weekday

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [3]:
Weekend = ['Saturday','Sunday']
Weekend

['Saturday', 'Sunday']

In [4]:
Both = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
Both

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [5]:
SB_to_Todds = pd.read_csv('data/SirBarton_to_Todds_F.csv')
SB_to_Todds.head()
#SB_to_Todds['Day of week'].unique()

  Day of week      Date  Time  Epoch  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:05      1               3             93.7         30.7
1   Wednesday  1/1/2014  0:25      5               2             77.0         37.4
2   Wednesday  1/1/2014  0:35      7               1             65.0         44.3
3   Wednesday  1/1/2014  0:40      8               1             65.0         44.3
4   Wednesday  1/1/2014  0:45      9               1            121.0         23.8

In [6]:
Todds_to_SB = pd.read_csv('data/Todds_to_SirBarton_F.csv')
Todds_to_SB.head()
#Todds_to_SB['Day of week'].unique()

  Day of week      Date  Time  Epoch  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:15      3               1             93.0         31.0
1   Wednesday  1/1/2014  0:20      4               1             63.0         45.7
2   Wednesday  1/1/2014  0:25      5               2             83.0         34.7
3   Wednesday  1/1/2014  0:30      6               1            103.0         28.0
4   Wednesday  1/1/2014  0:35      7               1             85.0         33.9

In [7]:
A_to_Rich = pd.read_csv('data/Alumni_to_Richmond_F.csv')
A_to_Rich.head()
#A_to_Rich['Day of week'].unique()

  Day of week      Date  Time  Epoch  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:20      4               4             96.0         37.5
1   Wednesday  1/1/2014  0:25      5               2             89.0         40.4
2   Wednesday  1/1/2014  0:30      6               3            100.7         35.8
3   Wednesday  1/1/2014  0:35      7               1            110.0         32.7
4   Wednesday  1/1/2014  0:40      8               2            107.0         33.6

In [8]:
Rich_to_A = pd.read_csv('data/Richmond_to_Alumni_F.csv')
Rich_to_A.head()
#Rich_to_A['Day of week'].unique()

  Day of week      Date  Time  Epoch  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:10      2               1            100.0         36.0
1   Wednesday  1/1/2014  0:35      7               3             99.7         36.1
2   Wednesday  1/1/2014  0:40      8               3            113.7         31.7
3   Wednesday  1/1/2014  0:55     11               2            106.0         34.0
4   Wednesday  1/1/2014  1:05     13               2            120.0         30.0

In [9]:
Todds_to_Rich = pd.read_csv('data/Todds_to_Richmond_F.csv')
Todds_to_Rich.head()
#Todds_to_Rich['Day of week'].unique()

  Day of week      Date  Time  Epoch  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:05      1               2            120.0         45.0
1   Wednesday  1/1/2014  0:10      2               1            143.0         37.8
2   Wednesday  1/1/2014  0:25      5               2            126.0         42.9
3   Wednesday  1/1/2014  0:35      7               1            231.0         23.4
4   Wednesday  1/1/2014  0:40      8               4            139.0         38.8

In [10]:
Rich_to_Todds = pd.read_csv('data/Richmond_to_Todds_F.csv')
Rich_to_Todds.head()
#Rich_to_Todds['Day of week'].unique()

  Day of week      Date  Time  Epoch  Number matches  Travel time (s)  Speed (mph)
0   Wednesday  1/1/2014  0:20      4               1            165.0         32.7
1   Wednesday  1/1/2014  0:25      5               3            147.7         36.6
2   Wednesday  1/1/2014  0:30      6               2            135.0         40.0
3   Wednesday  1/1/2014  0:35      7               2            145.0         37.2
4   Wednesday  1/1/2014  0:50     10               1            165.0         32.7

In [97]:
#Calculates all statistics for bluetooth data when it is active
def BTstats(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(288*len(numberdays))*100
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    zAM = timeframeBT(x,72,108,False,Both)
    zMD = timeframeBT(x,108,180,False,Both)
    zPM = timeframeBT(x,180,216,False,Both)
    c = pd.DataFrame(columns = [])
    d = pd.DataFrame(columns = [])
    e = pd.DataFrame(columns = [])
    c.loc[0,'MEAN'] = zAM['Speed (mph)'].mean()
    c.loc[0,'85th_Speed'] = zAM['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    c.loc[0,'5th_Speed'] = zAM['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    d.loc[0,'MEAN'] = zMD['Speed (mph)'].mean()
    d.loc[0,'85th_Speed'] = zMD['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    d.loc[0,'5th_Speed'] = zMD['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    e.loc[0,'MEAN'] = zPM['Speed (mph)'].mean()
    e.loc[0,'85th_Speed'] = zPM['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    e.loc[0,'5th_Speed'] = zPM['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y['TTI_85AM']= c['85th_Speed'].div(c['MEAN'])
    y['TTI_85MD']= d['85th_Speed'].div(d['MEAN'])
    y['TTI_85PM']= e['85th_Speed'].div(e['MEAN'])
    y['PTI_85AM']= c['85th_Speed'].div(c['5th_Speed'])
    y['PTI_85MD']= d['85th_Speed'].div(d['5th_Speed'])
    y['PTI_85PM']= e['85th_Speed'].div(e['5th_Speed'])
    y['BTI_AM']= (c['MEAN'].div(c['5th_Speed']))-1
    y['BTI_MD']= (d['MEAN'].div(d['5th_Speed']))-1
    y['BTI_PM']= (e['MEAN'].div(e['5th_Speed']))-1
    return y

In [98]:
#x = input dataframe, y = beginning timeframe (in epoch), z = ending timeframe (in epoch), 
#h = holiday (True or False), d = weekend or weekday
#Note the dataframe has to have an EPOCH_5MIN row to work.
#Also, this is ONLY for a single-link dataframe
def timeframeBT(x,y,z,h,d):
    us_holidays = ['1/1/2014', '5/26/2014', 
                   '7/4/2014', '9/1/2014', '11/27/2014', 
                   '11/28/2014', '12/25/2014']
    if h == True:
        r = x[x['Date'].isin(us_holidays)]
        v = x[~x.isin(r)].dropna()
        days = v[v['Day of week'].isin(d)]
        Timeframe = days[(days['Epoch'] >= y) & (days['Epoch'] <= z)]
        return Timeframe
    else:
        days = x[x['Day of week'].isin(d)]
        Timeframe = days[(days['Epoch'] >= y) & (days['Epoch'] <= z)]
        return Timeframe

In [99]:
#Calculates all statistics for bluetooth data when it is active
def BTstatsAM(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(36*len(numberdays))*100
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85AM']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85AM'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI_AM'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [100]:
#Calculates all statistics for bluetooth data when it is active
def BTstatsMD(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(72*len(numberdays))*100
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85MD']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85MD'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI_MD'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [101]:
#Calculates all statistics for bluetooth data when it is active
def BTstatsPM(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(36*len(numberdays))*100
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85PM']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85PM'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI_PM'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [102]:
#Uses BTstats to calculate for all days at all times
def calculatorAll(x):
    y = timeframeBT(x,0,288,True,Both)
    z = BTstats(y)
    y = pd.DataFrame()
    return z.head()

In [103]:
#Uses BTstats to calculate for Weekdays at all times
def calculatorWkdAll(x):
    y = timeframeBT(x,0,288,True,Weekday)
    z = BTstats(y)
    y = pd.DataFrame()
    return z.head()

In [104]:
#Uses BTstats to calculate for Weekends at all times
def calculatorWendAll(x):
    y = timeframeBT(x,0,288,True,Weekend)
    z = BTstats(y)
    y = pd.DataFrame()
    return z.head()

In [105]:
#Uses BTstats to calculate for Weekdays between 6AM and 9AM
def calculatorWkdAM(x):
    y = timeframeBT(x,72,108,True,Weekday)
    z = BTstatsAM(y)
    y = pd.DataFrame()
    return z.head()

In [106]:
#Uses BTstats to calculate for Weekdays between 9AM and 3AM
def calculatorWkdMD(x):
    y = timeframeBT(x,108,180,True,Weekday)
    z = BTstatsMD(y)
    y = pd.DataFrame()
    return z.head()

In [107]:
#Uses BTstats to calculate for Weekdays between 3PM and 6PM
def calculatorWkdPM(x):
    y = timeframeBT(x,180,216,True,Weekday)
    z = BTstatsPM(y)
    y = pd.DataFrame()
    return z.head()

In [108]:
#Takes stats for different time periods and combines them into one final dataset
def combinestats(x):
    x_All = calculatorAll(x)
    x_All['Timeframe'] = 'All'
    x_WkdAll = calculatorWkdAll(x)
    x_WkdAll['Timeframe'] = 'Wkd'
    x_WendAll = calculatorWendAll(x)
    x_WendAll['Timeframe'] = 'Wend'
    x_WkdAM = calculatorWkdAM(x)
    x_WkdAM['Timeframe'] = 'WkdAM'
    x_WkdMD = calculatorWkdMD(x)
    x_WkdMD['Timeframe'] = 'WkdMD'
    x_WkdPM = calculatorWkdPM(x)
    x_WkdPM['Timeframe'] = 'WkdPM'
    x = pd.concat([x_All,x_WkdAll,x_WendAll,x_WkdAM,x_WkdMD,x_WkdPM])
    cols = ['MEAN','STDDEV','TotalIntervals','PctInterval','85th_Speed','5th_Speed','60th_Speed',
       'TTI_85AM', 'TTI_85MD', 'TTI_85PM','PTI_85AM', 'PTI_85MD', 'PTI_85PM',
       'BTI_AM', 'BTI_MD','BTI_PM','Timeframe']
    x = x[cols]
    return x

In [109]:
#Runs all calculators for the Outer Loop between Richmond and Todds
RichTodd = combinestats(Rich_to_Todds)
RichTodd
RichTodd.to_csv('Richmond_Todds_BT.csv')

In [110]:
#Runs all calculators for the Inner Loop between Richmond and Todds
ToddRich = combinestats(Todds_to_Rich)
ToddRich
ToddRich.to_csv('Todds_Richmond_BT.csv')

In [111]:
#Runs all calculators for the Inner Loop between Sir Barton and Todds
SBTodd = combinestats(SB_to_Todds)
SBTodd
SBTodd.to_csv('SirBarton_Todds_BT.csv')

In [112]:
#Runs all calculators for the Outer Loop between Sir Barton and Todds
ToddSB = combinestats(Todds_to_SB)
ToddSB
ToddSB.to_csv('Todds_SirBarton_BT.csv')

In [113]:
#Runs all calculators for the Outer Loop between Alumni and Richmond
AlumRich = combinestats(A_to_Rich)
AlumRich
AlumRich.to_csv('Alumni_Richmond_BT.csv')

In [114]:
#Runs all calculators for the Inner Loop between Alumni and Richmond
RichAlum = combinestats(Rich_to_A)
RichAlum
RichAlum.to_csv('Richmond_Alumni_BT.csv')