In [1]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%matplotlib inline

# import necessary modules
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
import datetime
import geopandas as gp
from scipy import stats, integrate
#Adjusts what can be displayed when calling a pandas dataframe|
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

height has been deprecated.

In [8]:
#For now, enter the weekdays desire here in full
Weekday = ['Monday','Tuesday','Wednesday','Thursday','Friday']
Weekday

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [9]:
Weekend = ['Saturday','Sunday']
Weekend

['Saturday', 'Sunday']

In [10]:
Both = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
Both

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [11]:
SB_to_Todds = pd.read_csv('data/SirBarton_to_Todds_F.csv')
SB_to_Todds.head()
#SB_to_Todds['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:05,1,3,93.7,30.7
1,Wednesday,1/1/2014,0:25,5,2,77.0,37.4
2,Wednesday,1/1/2014,0:35,7,1,65.0,44.3
3,Wednesday,1/1/2014,0:40,8,1,65.0,44.3
4,Wednesday,1/1/2014,0:45,9,1,121.0,23.8

In [12]:
Todds_to_SB = pd.read_csv('data/Todds_to_SirBarton_F.csv')
Todds_to_SB.head()
#Todds_to_SB['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:15,3,1,93.0,31.0
1,Wednesday,1/1/2014,0:20,4,1,63.0,45.7
2,Wednesday,1/1/2014,0:25,5,2,83.0,34.7
3,Wednesday,1/1/2014,0:30,6,1,103.0,28.0
4,Wednesday,1/1/2014,0:35,7,1,85.0,33.9

In [13]:
A_to_Rich = pd.read_csv('data/Alumni_to_Richmond_F.csv')
A_to_Rich.head()
#A_to_Rich['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:20,4,4,96.0,37.5
1,Wednesday,1/1/2014,0:25,5,2,89.0,40.4
2,Wednesday,1/1/2014,0:30,6,3,100.7,35.8
3,Wednesday,1/1/2014,0:35,7,1,110.0,32.7
4,Wednesday,1/1/2014,0:40,8,2,107.0,33.6

In [14]:
Rich_to_A = pd.read_csv('data/Richmond_to_Alumni_F.csv')
Rich_to_A.head()
#Rich_to_A['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:10,2,1,100.0,36.0
1,Wednesday,1/1/2014,0:35,7,3,99.7,36.1
2,Wednesday,1/1/2014,0:40,8,3,113.7,31.7
3,Wednesday,1/1/2014,0:55,11,2,106.0,34.0
4,Wednesday,1/1/2014,1:05,13,2,120.0,30.0

In [15]:
Todds_to_Rich = pd.read_csv('data/Todds_to_Richmond_F.csv')
Todds_to_Rich.head()
#Todds_to_Rich['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:05,1,2,120.0,45.0
1,Wednesday,1/1/2014,0:10,2,1,143.0,37.8
2,Wednesday,1/1/2014,0:25,5,2,126.0,42.9
3,Wednesday,1/1/2014,0:35,7,1,231.0,23.4
4,Wednesday,1/1/2014,0:40,8,4,139.0,38.8

In [16]:
Rich_to_Todds = pd.read_csv('data/Richmond_to_Todds_F.csv')
Rich_to_Todds.head()
#Rich_to_Todds['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:20,4,1,165.0,32.7
1,Wednesday,1/1/2014,0:25,5,3,147.7,36.6
2,Wednesday,1/1/2014,0:30,6,2,135.0,40.0
3,Wednesday,1/1/2014,0:35,7,2,145.0,37.2
4,Wednesday,1/1/2014,0:50,10,1,165.0,32.7

In [17]:
#Calculates all statistics for bluetooth data
def BTstats(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(288*len(numberdays))
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [18]:
#x = input dataframe, y = beginning timeframe (in epoch), z = ending timeframe (in epoch), 
#h = holiday (True or False), d = weekend or weekday
#Note the dataframe has to have an EPOCH_5MIN row to work.
#Also, this is ONLY for a single-link dataframe
def timeframeBT(x,y,z,h,d):
    us_holidays = ['1/1/2014', '5/26/2014', 
                   '7/4/2014', '9/1/2014', '11/27/2014', 
                   '11/28/2014', '12/25/2014']
    if h == True:
        r = x[x['Date'].isin(us_holidays)]
        v = x[~x.isin(r)].dropna()
        days = v[v['Day of week'].isin(d)]
        Timeframe = days[(days['Epoch'] >= y) & (days['Epoch'] <= z)]
        return Timeframe
    else:
        days = x[x['Day of week'].isin(d)]
        Timeframe = days[(days['Epoch'] >= y) & (days['Epoch'] <= z)]
        return Timeframe

In [19]:
#Calculates all statistics for bluetooth data
def BTstatsAM(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(36*len(numberdays))
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [20]:
#Calculates all statistics for bluetooth data
def BTstatsMD(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(72*len(numberdays))
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [21]:
#Calculates all statistics for bluetooth data
def BTstatsPM(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(36*len(numberdays))
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [22]:
#Uses BTstats to calculate for all days at all times
def calculatorAll(x):
    y = timeframeBT(x,0,288,True,Both)
    z = BTstats(y)
    y = pd.DataFrame()
    return z.head()

In [23]:
#Uses BTstats to calculate for Weekdays at all times
def calculatorWkdAll(x):
    y = timeframeBT(x,0,288,True,Weekday)
    z = BTstats(y)
    y = pd.DataFrame()
    return z.head()

In [24]:
#Uses BTstats to calculate for Weekends at all times
def calculatorWendAll(x):
    y = timeframeBT(x,0,288,True,Weekend)
    z = BTstats(y)
    y = pd.DataFrame()
    return z.head()

In [25]:
#Uses BTstats to calculate for Weekdays between 6AM and 9AM
def calculatorWkdAM(x):
    y = timeframeBT(x,72,108,True,Weekday)
    z = BTstatsAM(y)
    y = pd.DataFrame()
    return z.head()

In [26]:
#Uses BTstats to calculate for Weekdays between 9AM and 3AM
def calculatorWkdMD(x):
    y = timeframeBT(x,108,180,True,Weekday)
    z = BTstatsMD(y)
    y = pd.DataFrame()
    return z.head()

In [27]:
#Uses BTstats to calculate for Weekdays between 3PM and 6PM
def calculatorWkdPM(x):
    y = timeframeBT(x,180,216,True,Weekday)
    z = BTstatsPM(y)
    y = pd.DataFrame()
    return z.head()

In [28]:
#Runs all calculators for the Outer Loop between Richmond and Todds
RichTodd_All = calculatorAll(Rich_to_Todds)
RichTodd_WkdAll = calculatorWkdAll(Rich_to_Todds)
RichTodd_WendAll = calculatorWendAll(Rich_to_Todds)
RichTodd_WkdAM = calculatorWkdAM(Rich_to_Todds)
RichTodd_WkdMD = calculatorWkdMD(Rich_to_Todds)
RichTodd_WkdPM = calculatorWkdPM(Rich_to_Todds)

In [29]:
#Runs all calculators for the Inner Loop between Richmond and Todds
ToddRich_All = calculatorAll(Todds_to_Rich)
ToddRich_WkdAll = calculatorWkdAll(Todds_to_Rich)
ToddRich_WendAll = calculatorWendAll(Todds_to_Rich)
ToddRich_WkdAM = calculatorWkdAM(Todds_to_Rich)
ToddRich_WkdMD = calculatorWkdMD(Todds_to_Rich)
ToddRich_WkdPM = calculatorWkdPM(Todds_to_Rich)

In [30]:
#Runs all calculators for the Inner Loop between Sir Barton and Todds
SBTodd_All = calculatorAll(SB_to_Todds)
SBTodd_WkdAll = calculatorWkdAll(SB_to_Todds)
SBTodd_WendAll = calculatorWendAll(SB_to_Todds)
SBTodd_WkdAM = calculatorWkdAM(SB_to_Todds)
SBTodd_WkdMD = calculatorWkdMD(SB_to_Todds)
SBTodd_WkdPM = calculatorWkdPM(SB_to_Todds)

In [31]:
#Runs all calculators for the Outer Loop between Sir Barton and Todds
ToddSB_All = calculatorAll(Todds_to_SB)
ToddSB_WkdAll = calculatorWkdAll(Todds_to_SB)
ToddSB_WendAll = calculatorWendAll(Todds_to_SB)
ToddSB_WkdAM = calculatorWkdAM(Todds_to_SB)
ToddSB_WkdMD = calculatorWkdMD(Todds_to_SB)
ToddSB_WkdPM = calculatorWkdPM(Todds_to_SB)

In [32]:
#Runs all calculators for the Outer Loop between Alumni and Richmond
AlumRich_All = calculatorAll(A_to_Rich)
AlumRich_WkdAll = calculatorWkdAll(A_to_Rich)
AlumRich_WendAll = calculatorWendAll(A_to_Rich)
AlumRich_WkdAM = calculatorWkdAM(A_to_Rich)
AlumRich_WkdMD = calculatorWkdMD(A_to_Rich)
AlumRich_WkdPM = calculatorWkdPM(A_to_Rich)

In [33]:
#Runs all calculators for the Inner Loop between Alumni and Richmond
RichAlum_All = calculatorAll(Rich_to_A)
RichAlum_WkdAll = calculatorWkdAll(Rich_to_A)
RichAlum_WendAll = calculatorWendAll(Rich_to_A)
RichAlum_WkdAM = calculatorWkdAM(Rich_to_A)
RichAlum_WkdMD = calculatorWkdMD(Rich_to_A)
RichAlum_WkdPM = calculatorWkdPM(Rich_to_A)

In [34]:
AlumRich_All.head()

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,32.399984,6.712498,70608.0,0.696496,38.8,22.0,33.6,1.197531,1.763636,0.472727

In [35]:
AlumRich_WkdAM.head()

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,27.992249,7.598629,7857.0,0.873,36.2,18.9,28.0,1.293215,1.915344,0.481071

In [36]:
AlumRich_WkdMD.head()

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,32.372714,5.194407,17258.0,0.954958,37.2,24.2,33.5,1.149116,1.53719,0.337715

In [37]:
AlumRich_WkdPM.head()

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,29.498785,5.587503,8557.0,0.94699,34.6,21.3,30.3,1.17293,1.624413,0.384919