In [97]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%matplotlib inline

# import necessary modules
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
import datetime
from scipy import stats, integrate

In [127]:
#For now, enter the weekdays desire here in full
Weekday = ['Monday','Tuesday','Wednesday','Thursday','Friday']
Weekday

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [128]:
Weekend = ['Saturday','Sunday']
Weekend

['Saturday', 'Sunday']

In [129]:
Both = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
Both

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [138]:
SB_to_Todds = pd.read_csv('data/SirBarton_to_Todds_F.csv')
SB_to_Todds.head()
#SB_to_Todds['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:05,1,3,93.7,30.7
1,Wednesday,1/1/2014,0:25,5,2,77.0,37.4
2,Wednesday,1/1/2014,0:35,7,1,65.0,44.3
3,Wednesday,1/1/2014,0:40,8,1,65.0,44.3
4,Wednesday,1/1/2014,0:45,9,1,121.0,23.8

In [139]:
Todds_to_SB = pd.read_csv('data/Todds_to_SirBarton_F.csv')
Todds_to_SB.head()
#Todds_to_SB['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:15,3,1,93.0,31.0
1,Wednesday,1/1/2014,0:20,4,1,63.0,45.7
2,Wednesday,1/1/2014,0:25,5,2,83.0,34.7
3,Wednesday,1/1/2014,0:30,6,1,103.0,28.0
4,Wednesday,1/1/2014,0:35,7,1,85.0,33.9

In [141]:
A_to_Rich = pd.read_csv('data/Alumni_to_Richmond_F.csv')
A_to_Rich.head()
#A_to_Rich['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:20,4,4,96.0,37.5
1,Wednesday,1/1/2014,0:25,5,2,89.0,40.4
2,Wednesday,1/1/2014,0:30,6,3,100.7,35.8
3,Wednesday,1/1/2014,0:35,7,1,110.0,32.7
4,Wednesday,1/1/2014,0:40,8,2,107.0,33.6

In [142]:
Rich_to_A = pd.read_csv('data/Richmond_to_Alumni_F.csv')
Rich_to_A.head()
#Rich_to_A['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:10,2,1,100.0,36.0
1,Wednesday,1/1/2014,0:35,7,3,99.7,36.1
2,Wednesday,1/1/2014,0:40,8,3,113.7,31.7
3,Wednesday,1/1/2014,0:55,11,2,106.0,34.0
4,Wednesday,1/1/2014,1:05,13,2,120.0,30.0

In [143]:
Todds_to_Rich = pd.read_csv('data/Todds_to_Richmond_F.csv')
Todds_to_Rich.head()
#Todds_to_Rich['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:05,1,2,120.0,45.0
1,Wednesday,1/1/2014,0:10,2,1,143.0,37.8
2,Wednesday,1/1/2014,0:25,5,2,126.0,42.9
3,Wednesday,1/1/2014,0:35,7,1,231.0,23.4
4,Wednesday,1/1/2014,0:40,8,4,139.0,38.8

In [144]:
Rich_to_Todds = pd.read_csv('data/Richmond_to_Todds_F.csv')
Rich_to_Todds.head()
#Rich_to_Todds['Day of week'].unique()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
0,Wednesday,1/1/2014,0:20,4,1,165.0,32.7
1,Wednesday,1/1/2014,0:25,5,3,147.7,36.6
2,Wednesday,1/1/2014,0:30,6,2,135.0,40.0
3,Wednesday,1/1/2014,0:35,7,2,145.0,37.2
4,Wednesday,1/1/2014,0:50,10,1,165.0,32.7

In [95]:
def BTstats(x):
    y = pd.DataFrame(columns = [])
    y.loc[0,'MEAN'] = x['Speed (mph)'].mean()
    y.loc[0,'STDDEV'] = x['Speed (mph)'].std(ddof = 1)
    y.loc[0,'TotalIntervals'] = x['Speed (mph)'].count()
    numberdays = x['Date'].unique()
    y.loc[0,'PctInterval'] = (y.loc[0,'TotalIntervals'])/(288*len(numberdays))
    y.loc[0,'85th_Speed'] = x['Speed (mph)'].quantile(0.85, interpolation = 'lower')
    y.loc[0,'5th_Speed'] = x['Speed (mph)'].quantile(0.05, interpolation = 'lower')
    y.loc[0,'60th_Speed'] = x['Speed (mph)'].quantile(0.60, interpolation = 'lower')
    y['TTI_85']= y['85th_Speed'].div(y['MEAN'])
    y['PTI_85'] = y['85th_Speed'].div(y['5th_Speed'])
    y['BTI'] = (y['MEAN'].div(y['5th_Speed']))-1
    return y

In [190]:
#x = input dataframe, y = beginning timeframe (in epoch), z = ending timeframe (in epoch), 
#h = holiday (True or False), d = weekend or weekday
#Note the dataframe has to have an EPOCH_5MIN row to work.
#Also, this is ONLY for a single-link dataframe
def timeframeBT(x,y,z,h,d):
    us_holidays = ['1/1/2014', '5/26/2014', 
                   '7/4/2014', '9/1/2014', '11/27/2014', 
                   '11/28/2014', '12/25/2014']
    if h == True:
        r = x[x['Date'].isin(us_holidays)]
        v = x[~x.isin(r)].dropna()
        days = v[v['Day of week'].isin(d)]
        Timeframe = days[(days['Epoch'] >= y) & (days['Epoch'] <= z)]
        return Timeframe
    else:
        days = x[x['Day of week'].isin(d)]
        Timeframe = days[(days['Epoch'] >= y) & (days['Epoch'] <= z)]
        return Timeframe

In [193]:
RichTodd = timeframeBT(Rich_to_Todds,0,288,True,Weekday)
RichTodd.head()

,Day of week,Date,Time,Epoch,Number matches,Travel time (s),Speed (mph)
155,Thursday,1/2/2014,0:10,2.0,1.0,122.0,44.3
156,Thursday,1/2/2014,0:20,4.0,1.0,104.0,51.9
157,Thursday,1/2/2014,0:25,5.0,2.0,133.0,40.6
158,Thursday,1/2/2014,2:00,24.0,1.0,146.0,37.0
159,Thursday,1/2/2014,2:30,30.0,1.0,156.0,34.6

In [166]:
RichTodd = timeframeBT(Rich_to_Todds,0,288,True,Both)
RichToddstat = BTstats(RichTodd)
RichTodd = pd.DataFrame()
RichToddstat.head()

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,34.069578,9.131005,62482.0,0.600973,43.5,18.9,36.7,1.276799,2.301587,0.802623

In [167]:
WkdRichTodd = timeframeBT(Rich_to_Todds,0,288,True,Weekday)
WkdRichToddstat = BTstats(WkdRichTodd)
WkdRichTodd = pd.DataFrame()
WkdRichToddstat.head()

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,33.192074,9.311052,45672.0,0.612291,43.2,18.0,35.8,1.301516,2.4,0.844004

In [169]:
WendRichTodd = timeframeBT(Rich_to_Todds,0,288,True,Weekend)
WendRichToddstat = BTstats(WendRichTodd)
WendRichTodd = pd.DataFrame()
WendRichToddstat.head()

,MEAN,STDDEV,TotalIntervals,PctInterval,85th_Speed,5th_Speed,60th_Speed,TTI_85,PTI_85,BTI
0,36.453718,8.15976,16810.0,0.572236,44.1,20.9,38.8,1.209753,2.110048,0.744197

In [ ]:
WkdRichTodd = timeframeBT(Rich_to_Todds,0,288,True,Weekday)
WkdRichToddstat = BTstats(WkdRichTodd)
WkdRichTodd = pd.DataFrame()
WkdRichToddstat.head()