In [1]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%matplotlib inline

# import necessary modules
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
import datetime
import arrow

In [2]:
herepath = pd.read_csv('data/MOW_Path_Speed_5Min_2014_DOWavailable.csv', encoding='utf-8')
herepath.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday
2,2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday
3,3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday
4,4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday

In [62]:
single_link = herepath[herepath['LINK_DIR']=='998969850F']
single_link.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday
2,2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday
3,3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday
4,4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday

In [63]:
#Range between 6AM-9AM
Morning = single_link[(single_link['EPOCH_5MIN'] >= 72) & (single_link['EPOCH_5MIN'] <= 108)]
Morning.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
14,14,998969850F,2014-01-06 08:55,107,186,53.0,0.0,10,Monday
17,17,998969850F,2014-01-07 07:50,94,186,54.0,0.0,10,Tuesday
18,18,998969850F,2014-01-07 08:50,106,186,63.0,0.0,10,Tuesday
22,22,998969850F,2014-01-08 08:00,96,186,52.0,0.0,10,Wednesday
23,23,998969850F,2014-01-08 08:30,102,186,54.0,0.0,10,Wednesday

In [143]:
#For now, enter the weekdays desire here in full
Weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
Weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [144]:
#w = Link, x = input dataframe, y = beginning timeframe (in epoch), z = ending timeframe (in epoch).
#Note the dataframe has to have an EPOCH_5MIN row to work.
def timeframe3(w,x,y,z):
    link = x[x['LINK_DIR']== w]
    days = link[link['DOW'].isin(Weekdays)]
    Timeframe = days[(days['EPOCH_5MIN'] >= y) & (days['EPOCH_5MIN'] <= z)]
    return Timeframe

In [145]:
herefinal = timeframe3('998969850F',herepath,150,222)

In [139]:
#Confirmed with herepoint dataset and pivot table.  The function works
herefinal.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
25,25,998969850F,2014-01-08 13:25,161,186,53.0,0.0,10,Wednesday
26,26,998969850F,2014-01-08 14:00,168,186,62.0,0.0,10,Wednesday
27,27,998969850F,2014-01-08 15:35,187,186,52.0,0.0,10,Wednesday
28,28,998969850F,2014-01-08 16:45,201,186,52.0,0.0,10,Wednesday

In [68]:
#Computes the mean and standard deviation of the specified data
print(herefinal['MEAN'].mean())
print(herefinal['MEAN'].std())

52.61036204744071
14.841661968720276

In [69]:
#holidays
from datetime import date
import holidays
US_holidays = holidays.US()
print(US_holidays)

{}

In [140]:
#Also a datetime function available, but for the 2014 holidays list this will be what I use for the time being.
#Cannot confirm or deny that the US holidays in datetime's holidays class is consistent with the HERE list
us_holidays = ['2014-01-01', '2014-05-26', 
               '2014-07-04', '2014-09-01', '2014-11-27', 
               '2014-11-28', '2014-12-25']
us_holidays

['2014-01-01',
 '2014-05-26',
 '2014-07-04',
 '2014-09-01',
 '2014-11-27',
 '2014-11-28',
 '2014-12-25']

In [96]:
herefinal['DATE'] = herefinal['DATE_TIME'].str.split(' ').str[0]
herefinal.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW,DATE
0,0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday,2014-01-01
25,25,998969850F,2014-01-08 13:25,161,186,53.0,0.0,10,Wednesday,2014-01-08
26,26,998969850F,2014-01-08 14:00,168,186,62.0,0.0,10,Wednesday,2014-01-08
27,27,998969850F,2014-01-08 15:35,187,186,52.0,0.0,10,Wednesday,2014-01-08
28,28,998969850F,2014-01-08 16:45,201,186,52.0,0.0,10,Wednesday,2014-01-08

In [110]:
hday = herefinal[herefinal['DATE'].isin(us_holidays)]

In [111]:
hday

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW,DATE
0,0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday,2014-01-01
1100,1100,998969850F,2014-05-26 14:15,171,186,76.0,0.0,10,Monday,2014-05-26
1101,1101,998969850F,2014-05-26 15:05,181,186,65.0,0.0,10,Monday,2014-05-26
1102,1102,998969850F,2014-05-26 17:25,209,186,31.0,0.0,10,Monday,2014-05-26
1103,1103,998969850F,2014-05-26 17:30,210,186,52.0,0.0,10,Monday,2014-05-26
1968,1968,998969850F,2014-09-01 12:35,151,186,79.0,0.0,10,Monday,2014-09-01
1969,1969,998969850F,2014-09-01 17:35,211,186,63.0,0.0,10,Monday,2014-09-01

In [108]:
df = herefinal[~herefinal.isin(hday)].dropna()

In [114]:
df.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW,DATE
25,25.0,998969850F,2014-01-08 13:25,161.0,186.0,53.0,0.0,10.0,Wednesday,2014-01-08
26,26.0,998969850F,2014-01-08 14:00,168.0,186.0,62.0,0.0,10.0,Wednesday,2014-01-08
27,27.0,998969850F,2014-01-08 15:35,187.0,186.0,52.0,0.0,10.0,Wednesday,2014-01-08
28,28.0,998969850F,2014-01-08 16:45,201.0,186.0,52.0,0.0,10.0,Wednesday,2014-01-08
29,29.0,998969850F,2014-01-08 17:05,205.0,186.0,53.0,0.0,10.0,Wednesday,2014-01-08

In [141]:
#function to filter holidays from any dataframe
def hday(y): 
    us_holidays = ['2014-01-01', '2014-05-26', 
                   '2014-07-04', '2014-09-01', '2014-11-27', 
                   '2014-11-28', '2014-12-25']
    y['DATE'] = y['DATE_TIME'].str.split(' ').str[0]
    x = y[y['DATE'].isin(us_holidays)]
    z = y[~y.isin(x)].dropna()
    return z

In [146]:
hday2 = hday(herefinal)
len(hday2)

1313

In [133]:
#Checker to see if it works
hday2 = hday2[hday2['DATE'].isin(us_holidays)]
hday2

Empty DataFrame
Columns: [Unnamed: 0, LINK_DIR, DATE_TIME, EPOCH_5MIN, LENGTH, MEAN, STDDEV, CONFIDENCE, DOW, DATE]
Index: []