This is a collection of data that will be used for Jacob Brashear's CE 599 Final project.

In [36]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%matplotlib inline

# import necessary modules
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
import datetime

In [7]:
herepath = pd.read_csv('data/MOW_Path_Speed_5Min_2014.csv', encoding='utf-8')
herepath.head()

     LINK_DIR         DATE_TIME  EPOCH_5MIN  LENGTH  MEAN  STDDEV  CONFIDENCE
0  998969850F  2014-01-01 13:55         167     186  61.0     0.0          10
1  998969850F  2014-01-02 11:05         133     186  60.0     0.0          10
2  998969850F  2014-01-02 13:20         160     186  61.0     0.0          10
3  998969850F  2014-01-02 14:30         174     186  52.0     0.0          10
4  998969850F  2014-01-03 09:05         109     186  57.0     0.0          10

In [3]:
herepoint = pd.read_csv('data/MOW_Point_Speed_5Min_2014.csv', encoding='utf-8')
herepoint.head()

     LINK_DIR         DATE_TIME  EPOCH_5MIN  LENGTH  MEAN  STDDEV  CONFIDENCE
0  998969850F  2014-01-01 13:55         167     186  45.5    24.7          20
1  998969850F  2014-01-03 10:20         124     186  64.0     0.0          10
2  998969850F  2014-01-04 12:50         154     186  27.0     0.0          10
3  998969850F  2014-01-05 17:45         213     186  45.0     0.0          10
4  998969850F  2014-01-07 05:35          67     186   6.0     0.0          10

In [4]:
herepoint['MEAN'].mean()

55.79948631030294

In [5]:
herepath['MEAN'].mean()

55.407253254036526

In [15]:
hereslink = herepath[herepath['LINK_DIR']=='998969850F']
hereslink.head()

     LINK_DIR         DATE_TIME  EPOCH_5MIN  LENGTH  MEAN  STDDEV  CONFIDENCE
0  998969850F  2014-01-01 13:55         167     186  61.0     0.0          10
1  998969850F  2014-01-02 11:05         133     186  60.0     0.0          10
2  998969850F  2014-01-02 13:20         160     186  61.0     0.0          10
3  998969850F  2014-01-02 14:30         174     186  52.0     0.0          10
4  998969850F  2014-01-03 09:05         109     186  57.0     0.0          10

In [16]:
hereslink['date'] = hereslink['DATE_TIME'].str.split(' ').str[0]
hereslink[:5]

C:\Users\jdbr223\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,date
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,2014-01-01
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,2014-01-02
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,2014-01-02
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,2014-01-02
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,2014-01-03

In [17]:
hereslink['time'] = hereslink['DATE_TIME'].str.split(' ').str[1]
hereslink[:5]

C:\Users\jdbr223\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,date,time
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,2014-01-01,13:55
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,2014-01-02,11:05
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,2014-01-02,13:20
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,2014-01-02,14:30
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,2014-01-03,09:05

In [20]:
datetime.datetime.strptime?

In [ ]:
#I want to filter by weekday, so I want to take the dates and Identify what day of the week they fall on.
#Then, I want to use the Epoch data to filter by time (easier to do if you know what epoch corresponds to what time).
#Finally, I want to run means on the dataframe after filtering data.
#Of course, the next step will be automation and the flexibility in picking the data I want.

In [46]:
hereslink['DATE_TIME'] = pd.datetime(hereslink['DATE_TIME'])

TypeError: cannot convert the series to <class 'int'>

Object `pd.index.weekday` not found.