This is a collection of data that will be used for Jacob Brashear's CE 599 Final project.

In [2]:
# magic command to display matplotlib plots inline within the ipython notebook webpage
%matplotlib inline

# import necessary modules
import pandas as pd, numpy as np, matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
import datetime
import arrow

In [3]:
herepath = pd.read_csv('data/MOW_Path_Speed_5Min_2014_DOWavailable.csv', encoding='utf-8')
herepath.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday
2,2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday
3,3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday
4,4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday

In [4]:
herepoint = pd.read_csv('data/MOW_Point_Speed_5Min_2014_DOWavailable.csv', encoding='utf-8')
herepoint.head()

,Unnamed: 0,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,0,998969850F,2014-01-01 13:55,167,186,45.5,24.7,20,Wednesday
1,1,998969850F,2014-01-03 10:20,124,186,64.0,0.0,10,Friday
2,2,998969850F,2014-01-04 12:50,154,186,27.0,0.0,10,Saturday
3,3,998969850F,2014-01-05 17:45,213,186,45.0,0.0,10,Sunday
4,4,998969850F,2014-01-07 05:35,67,186,6.0,0.0,10,Tuesday

In [192]:
def Dayofweek(y):
    heredt = pd.to_datetime(y['DATE_TIME'])
    for i in range (0,len(y)):
        y.loc[i,'DOW'] = heredt.iloc[i].strftime('%A')
    return y

In [193]:
Dayofweek(herepoint)

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,998969850F,2014-01-01 13:55,167,186,45.5,24.7,20,Wednesday
1,998969850F,2014-01-03 10:20,124,186,64.0,0.0,10,Friday
2,998969850F,2014-01-04 12:50,154,186,27.0,0.0,10,Saturday
3,998969850F,2014-01-05 17:45,213,186,45.0,0.0,10,Sunday
4,998969850F,2014-01-07 05:35,67,186,6.0,0.0,10,Tuesday
5,998969850F,2014-01-08 09:20,112,186,32.0,0.0,10,Wednesday
6,998969850F,2014-01-08 16:45,201,186,51.0,0.0,10,Wednesday
7,998969850F,2014-01-09 12:00,144,186,17.0,0.0,10,Thursday
8,998969850F,2014-01-09 12:55,155,186,85.0,0.0,10,Thursday
9,998969850F,2014-01-09 13:35,163,186,83.0,0.0,10,Thursday
10,998969850F,2014-01-10 05:30,66,186,35.0,0.0,10,Friday
11,998969850F,2014-01-10 17:50,214,186,49.0,0.0,10,Friday
12,998969850F,2014-01-10 18:00,216,186,69.0,0.0,10,Friday
13,998969850F,2014-01-10 19:15,231,186,41.0,0.0,10,Friday
14,998969850F,2014-01-10 19:55,239,186,57.0,0.0,10,Friday
15,998969850F,2014-01-11 14:15,171,186,61.0,0.0,10,Saturday
16,998969850F,2014-01-11 18:15,219,186,61.0,0.0,10,Saturday
17,998969850F,2014-01-13 16:45,201,186,33.0,0.0,10,Monday
18,998969850F,2014-01-13 18:05,217,186,40.0,0.0,10,Monday
19,998969850F,2014-01-14 05:40,68,186,1.0,0.0,10,Tuesday
20,998969850F,2014-01-14 11:55,143,186,54.0,0.0,10,Tuesday
21,998969850F,2014-01-14 13:20,160,186,46.0,0.0,10,Tuesday
22,998969850F,2014-01-14 14:45,177,186,43.0,0.0,10,Tuesday
23,998969850F,2014-01-14 17:00,204,186,14.0,0.0,10,Tuesday
24,998969850F,2014-01-14 19:10,230,186,67.0,0.0,10,Tuesday
25,998969850F,2014-01-15 09:35,115,186,9.0,0.0,10,Wednesday
26,998969850F,2014-01-15 10:00,120,186,80.0,0.0,10,Wednesday
27,998969850F,2014-01-15 10:35,127,186,45.0,0.0,10,Wednesday
28,998969850F,2014-01-15 15:25,185,186,57.0,0.0,10,Wednesday
29,998969850F,2014-01-16 15:10,182,186,48.0,0.0,10,Thursday
...,...,...,...,...,...,...,...,...
747503,111938038T,2014-12-19 20:55,251,65,32.5,14.8,20,Friday
747504,111938038T,2014-12-20 04:55,59,65,24.1,4.8,40,Saturday
747505,111938038T,2014-12-20 13:15,159,65,30.6,6.4,40,Saturday
747506,111938038T,2014-12-22 13:35,163,65,20.1,1.6,40,Monday
747507,111938038T,2014-12-22 14:00,168,65,32.0,0.0,10,Monday
747508,111938038T,2014-12-22 14:50,178,65,43.0,0.0,10,Monday
747509,111938038T,2014-12-22 16:25,197,65,47.5,5.0,30,Monday
747510,111938038T,2014-12-22 19:05,229,65,30.5,12.0,20,Monday
747511,111938038T,2014-12-22 20:30,246,65,37.8,5.8,40,Monday
747512,111938038T,2014-12-22 21:45,261,65,25.0,0.0,10,Monday
747513,111938038T,2014-12-23 08:10,98,65,28.0,0.0,10,Tuesday
747514,111938038T,2014-12-23 09:20,112,65,43.0,0.0,10,Tuesday
747515,111938038T,2014-12-25 14:55,179,65,51.0,0.0,10,Thursday
747516,111938038T,2014-12-26 11:40,140,65,29.0,11.4,30,Friday
747517,111938038T,2014-12-26 17:20,208,65,29.0,7.2,40,Friday
747518,111938038T,2014-12-28 15:40,188,65,38.0,0.0,10,Sunday
747519,111938038T,2014-12-29 10:20,124,65,37.0,0.0,10,Monday
747520,111938038T,2014-12-29 17:00,204,65,43.6,7.5,40,Monday
747521,111938038T,2014-12-29 17:20,208,65,34.9,3.6,40,Monday
747522,111938038T,2014-12-30 11:45,141,65,35.0,0.0,10,Tuesday
747523,111938038T,2014-12-30 13:30,162,65,38.7,2.9,30,Tuesday
747524,111938038T,2014-12-30 15:45,189,65,35.0,0.0,10,Tuesday
747525,111938038T,2014-12-30 19:40,236,65,47.0,0.0,10,Tuesday
747526,111938038T,2014-12-31 09:40,116,65,33.0,0.0,10,Wednesday
747527,111938038T,2014-12-31 11:00,132,65,4.0,0.0,30,Wednesday
747528,111938038T,2014-12-31 13:25,161,65,22.9,6.8,40,Wednesday
747529,111938038T,2014-12-31 13:50,166,65,27.0,0.0,10,Wednesday
747530,111938038T,2014-12-31 18:00,216,65,30.8,10.8,40,Wednesday
747531,111938038T,2014-12-31 18:55,227,65,29.9,7.2,40,Wednesday
747532,111938038T,2014-12-31 19:25,233,65,36.2,7.3,40,Wednesday

In [196]:
herepoint.to_csv?

In [197]:
herepoint.to_csv('data/MOW_Point_Speed_5Min_2014.csv',encoding='utf-8')

In [198]:
Dayofweek(herepath)

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday
5,998969850F,2014-01-03 09:10,110,186,70.0,0.0,10,Friday
6,998969850F,2014-01-03 10:20,124,186,63.0,0.0,10,Friday
7,998969850F,2014-01-03 11:15,135,186,53.0,1.4,30,Friday
8,998969850F,2014-01-03 15:45,189,186,48.0,0.0,10,Friday
9,998969850F,2014-01-03 21:00,252,186,73.0,0.0,10,Friday
10,998969850F,2014-01-04 11:20,136,186,46.0,0.0,10,Saturday
11,998969850F,2014-01-04 14:30,174,186,43.0,0.0,10,Saturday
12,998969850F,2014-01-04 17:30,210,186,54.0,0.0,10,Saturday
13,998969850F,2014-01-05 17:10,206,186,57.0,0.0,10,Sunday
14,998969850F,2014-01-06 08:55,107,186,53.0,0.0,10,Monday
15,998969850F,2014-01-06 11:10,134,186,50.0,0.0,10,Monday
16,998969850F,2014-01-06 19:55,239,186,74.0,0.0,10,Monday
17,998969850F,2014-01-07 07:50,94,186,54.0,0.0,10,Tuesday
18,998969850F,2014-01-07 08:50,106,186,63.0,0.0,10,Tuesday
19,998969850F,2014-01-07 09:45,117,186,47.0,0.0,10,Tuesday
20,998969850F,2014-01-07 11:30,138,186,51.0,0.0,10,Tuesday
21,998969850F,2014-01-07 20:15,243,186,75.0,0.0,10,Tuesday
22,998969850F,2014-01-08 08:00,96,186,52.0,0.0,10,Wednesday
23,998969850F,2014-01-08 08:30,102,186,54.0,0.0,10,Wednesday
24,998969850F,2014-01-08 09:20,112,186,9.0,0.0,10,Wednesday
25,998969850F,2014-01-08 13:25,161,186,53.0,0.0,10,Wednesday
26,998969850F,2014-01-08 14:00,168,186,62.0,0.0,10,Wednesday
27,998969850F,2014-01-08 15:35,187,186,52.0,0.0,10,Wednesday
28,998969850F,2014-01-08 16:45,201,186,52.0,0.0,10,Wednesday
29,998969850F,2014-01-08 17:05,205,186,53.0,0.0,10,Wednesday
...,...,...,...,...,...,...,...,...
1347834,111938038F,2014-12-29 15:20,184,65,57.0,26.9,20,Monday
1347835,111938038F,2014-12-29 16:00,192,65,19.0,1.4,30,Monday
1347836,111938038F,2014-12-30 05:45,69,65,84.0,0.0,10,Tuesday
1347837,111938038F,2014-12-30 07:40,92,65,35.0,0.0,10,Tuesday
1347838,111938038F,2014-12-30 09:50,118,65,74.0,0.0,10,Tuesday
1347839,111938038F,2014-12-30 10:10,122,65,76.0,0.0,10,Tuesday
1347840,111938038F,2014-12-30 11:00,132,65,67.0,0.0,10,Tuesday
1347841,111938038F,2014-12-30 13:50,166,65,38.0,0.0,10,Tuesday
1347842,111938038F,2014-12-30 14:35,175,65,31.7,18.0,20,Tuesday
1347843,111938038F,2014-12-30 15:45,189,65,55.0,0.0,10,Tuesday
1347844,111938038F,2014-12-30 16:25,197,65,15.0,0.0,10,Tuesday
1347845,111938038F,2014-12-30 17:05,205,65,35.0,0.0,10,Tuesday
1347846,111938038F,2014-12-30 17:15,207,65,45.0,0.0,10,Tuesday
1347847,111938038F,2014-12-30 18:15,219,65,17.0,2.6,30,Tuesday
1347848,111938038F,2014-12-30 18:45,225,65,34.0,0.0,10,Tuesday
1347849,111938038F,2014-12-30 19:30,234,65,81.0,0.0,10,Tuesday
1347850,111938038F,2014-12-30 20:40,248,65,61.0,0.0,10,Tuesday
1347851,111938038F,2014-12-31 05:45,69,65,89.0,0.0,10,Wednesday
1347852,111938038F,2014-12-31 09:40,116,65,59.0,0.0,10,Wednesday
1347853,111938038F,2014-12-31 10:10,122,65,33.0,0.0,10,Wednesday
1347854,111938038F,2014-12-31 11:35,139,65,43.0,0.0,10,Wednesday
1347855,111938038F,2014-12-31 12:30,150,65,72.0,0.0,10,Wednesday
1347856,111938038F,2014-12-31 12:40,152,65,70.0,0.0,10,Wednesday
1347857,111938038F,2014-12-31 13:10,158,65,72.0,0.0,10,Wednesday
1347858,111938038F,2014-12-31 13:20,160,65,60.0,0.0,10,Wednesday
1347859,111938038F,2014-12-31 13:25,161,65,33.0,0.0,10,Wednesday
1347860,111938038F,2014-12-31 15:50,190,65,55.0,0.0,10,Wednesday
1347861,111938038F,2014-12-31 15:55,191,65,67.0,0.0,10,Wednesday
1347862,111938038F,2014-12-31 16:00,192,65,72.0,0.0,10,Wednesday
1347863,111938038F,2014-12-31 17:10,206,65,28.0,0.0,10,Wednesday

In [199]:
herepath.to_csv('data/MOW_Path_Speed_5Min_2014.csv',encoding='utf-8')

In [174]:
herepath

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday
5,998969850F,2014-01-03 09:10,110,186,70.0,0.0,10,Friday
6,998969850F,2014-01-03 10:20,124,186,63.0,0.0,10,Friday
7,998969850F,2014-01-03 11:15,135,186,53.0,1.4,30,Friday
8,998969850F,2014-01-03 15:45,189,186,48.0,0.0,10,Friday
9,998969850F,2014-01-03 21:00,252,186,73.0,0.0,10,Friday
10,998969850F,2014-01-04 11:20,136,186,46.0,0.0,10,Saturday
11,998969850F,2014-01-04 14:30,174,186,43.0,0.0,10,Saturday
12,998969850F,2014-01-04 17:30,210,186,54.0,0.0,10,Saturday
13,998969850F,2014-01-05 17:10,206,186,57.0,0.0,10,Sunday
14,998969850F,2014-01-06 08:55,107,186,53.0,0.0,10,Monday
15,998969850F,2014-01-06 11:10,134,186,50.0,0.0,10,Monday
16,998969850F,2014-01-06 19:55,239,186,74.0,0.0,10,Monday
17,998969850F,2014-01-07 07:50,94,186,54.0,0.0,10,Tuesday
18,998969850F,2014-01-07 08:50,106,186,63.0,0.0,10,Tuesday
19,998969850F,2014-01-07 09:45,117,186,47.0,0.0,10,Tuesday
20,998969850F,2014-01-07 11:30,138,186,51.0,0.0,10,Tuesday
21,998969850F,2014-01-07 20:15,243,186,75.0,0.0,10,Tuesday
22,998969850F,2014-01-08 08:00,96,186,52.0,0.0,10,Wednesday
23,998969850F,2014-01-08 08:30,102,186,54.0,0.0,10,Wednesday
24,998969850F,2014-01-08 09:20,112,186,9.0,0.0,10,Wednesday
25,998969850F,2014-01-08 13:25,161,186,53.0,0.0,10,Wednesday
26,998969850F,2014-01-08 14:00,168,186,62.0,0.0,10,Wednesday
27,998969850F,2014-01-08 15:35,187,186,52.0,0.0,10,Wednesday
28,998969850F,2014-01-08 16:45,201,186,52.0,0.0,10,Wednesday
29,998969850F,2014-01-08 17:05,205,186,53.0,0.0,10,Wednesday
...,...,...,...,...,...,...,...,...
1347834,111938038F,2014-12-29 15:20,184,65,57.0,26.9,20,NaN
1347835,111938038F,2014-12-29 16:00,192,65,19.0,1.4,30,NaN
1347836,111938038F,2014-12-30 05:45,69,65,84.0,0.0,10,NaN
1347837,111938038F,2014-12-30 07:40,92,65,35.0,0.0,10,NaN
1347838,111938038F,2014-12-30 09:50,118,65,74.0,0.0,10,NaN
1347839,111938038F,2014-12-30 10:10,122,65,76.0,0.0,10,NaN
1347840,111938038F,2014-12-30 11:00,132,65,67.0,0.0,10,NaN
1347841,111938038F,2014-12-30 13:50,166,65,38.0,0.0,10,NaN
1347842,111938038F,2014-12-30 14:35,175,65,31.7,18.0,20,NaN
1347843,111938038F,2014-12-30 15:45,189,65,55.0,0.0,10,NaN
1347844,111938038F,2014-12-30 16:25,197,65,15.0,0.0,10,NaN
1347845,111938038F,2014-12-30 17:05,205,65,35.0,0.0,10,NaN
1347846,111938038F,2014-12-30 17:15,207,65,45.0,0.0,10,NaN
1347847,111938038F,2014-12-30 18:15,219,65,17.0,2.6,30,NaN
1347848,111938038F,2014-12-30 18:45,225,65,34.0,0.0,10,NaN
1347849,111938038F,2014-12-30 19:30,234,65,81.0,0.0,10,NaN
1347850,111938038F,2014-12-30 20:40,248,65,61.0,0.0,10,NaN
1347851,111938038F,2014-12-31 05:45,69,65,89.0,0.0,10,NaN
1347852,111938038F,2014-12-31 09:40,116,65,59.0,0.0,10,NaN
1347853,111938038F,2014-12-31 10:10,122,65,33.0,0.0,10,NaN
1347854,111938038F,2014-12-31 11:35,139,65,43.0,0.0,10,NaN
1347855,111938038F,2014-12-31 12:30,150,65,72.0,0.0,10,NaN
1347856,111938038F,2014-12-31 12:40,152,65,70.0,0.0,10,NaN
1347857,111938038F,2014-12-31 13:10,158,65,72.0,0.0,10,NaN
1347858,111938038F,2014-12-31 13:20,160,65,60.0,0.0,10,NaN
1347859,111938038F,2014-12-31 13:25,161,65,33.0,0.0,10,NaN
1347860,111938038F,2014-12-31 15:50,190,65,55.0,0.0,10,NaN
1347861,111938038F,2014-12-31 15:55,191,65,67.0,0.0,10,NaN
1347862,111938038F,2014-12-31 16:00,192,65,72.0,0.0,10,NaN
1347863,111938038F,2014-12-31 17:10,206,65,28.0,0.0,10,NaN

In [111]:
herepoint['MEAN'].mean()

55.79948631030294

In [112]:
herepath['MEAN'].mean()

55.407253254036526

In [152]:
hereslink = herepath[herepath['LINK_DIR']=='998969850F']
hereslink.head()

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday

In [189]:
heredt = pd.to_datetime(hereslink['DATE_TIME'])
heredt

0      2014-01-01 13:55:00
1      2014-01-02 11:05:00
2      2014-01-02 13:20:00
3      2014-01-02 14:30:00
4      2014-01-03 09:05:00
5      2014-01-03 09:10:00
6      2014-01-03 10:20:00
7      2014-01-03 11:15:00
8      2014-01-03 15:45:00
9      2014-01-03 21:00:00
10     2014-01-04 11:20:00
11     2014-01-04 14:30:00
12     2014-01-04 17:30:00
13     2014-01-05 17:10:00
14     2014-01-06 08:55:00
15     2014-01-06 11:10:00
16     2014-01-06 19:55:00
17     2014-01-07 07:50:00
18     2014-01-07 08:50:00
19     2014-01-07 09:45:00
20     2014-01-07 11:30:00
21     2014-01-07 20:15:00
22     2014-01-08 08:00:00
23     2014-01-08 08:30:00
24     2014-01-08 09:20:00
25     2014-01-08 13:25:00
26     2014-01-08 14:00:00
27     2014-01-08 15:35:00
28     2014-01-08 16:45:00
29     2014-01-08 17:05:00
               ...
3125   2014-12-29 14:20:00
3126   2014-12-29 14:45:00
3127   2014-12-29 16:00:00
3128   2014-12-29 16:10:00
3129   2014-12-29 17:35:00
3130   2014-12-30 05:45:00
3131   2014-12-30 07:40:00
3132   2014-12-30 10:10:00
3133   2014-12-30 11:00:00
3134   2014-12-30 14:35:00
3135   2014-12-30 15:45:00
3136   2014-12-30 17:05:00
3137   2014-12-30 17:10:00
3138   2014-12-30 18:15:00
3139   2014-12-30 18:45:00
3140   2014-12-30 19:25:00
3141   2014-12-30 20:40:00
3142   2014-12-31 05:45:00
3143   2014-12-31 08:10:00
3144   2014-12-31 09:35:00
3145   2014-12-31 10:10:00
3146   2014-12-31 12:25:00
3147   2014-12-31 12:35:00
3148   2014-12-31 13:10:00
3149   2014-12-31 13:15:00
3150   2014-12-31 15:45:00
3151   2014-12-31 15:55:00
3152   2014-12-31 16:00:00
3153   2014-12-31 17:10:00
3154   2014-12-31 23:35:00
Name: DATE_TIME, dtype: datetime64[ns]

In [97]:
#I want to filter by weekday, so I want to take the dates and Identify what day of the week they fall on.
#Then, I want to use the Epoch data to filter by time (easier to do if you know what epoch corresponds to what time).
#Finally, I want to run means on the dataframe after filtering data.
#Of course, the next step will be automation and the flexibility in picking the data I want.

In [124]:
hereslink['DOW'] = ''
hereslink.head()

C:\Users\jdbr223\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,

In [125]:
hereslink.loc[0,'DOW'] = heredt.loc[0].strftime('%A')
hereslink.head()

C:\Users\jdbr223\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,

In [153]:
for i in range (0,len(hereslink)):
    hereslink.loc[i,'DOW'] = heredt.iloc[i].strftime('%A')
hereslink.head()

C:\Users\jdbr223\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday

In [142]:
hereslink[hereslink['EPOCH_5MIN']==72]
#6AM-9AM is between epoch 72 and 108

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW
1695,998969850F,2014-08-05 06:00,72,186,64.0,0.0,10,Tuesday
2279,998969850F,2014-10-02 06:00,72,186,67.0,0.0,10,Thursday

In [154]:
hereslink['Considered?'] = (72 <= hereslink['EPOCH_5MIN']) & (hereslink['EPOCH_5MIN'] < 109)
hereslink.head()

C:\Users\jdbr223\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,LINK_DIR,DATE_TIME,EPOCH_5MIN,LENGTH,MEAN,STDDEV,CONFIDENCE,DOW,Considered?
0,998969850F,2014-01-01 13:55,167,186,61.0,0.0,10,Wednesday,False
1,998969850F,2014-01-02 11:05,133,186,60.0,0.0,10,Thursday,False
2,998969850F,2014-01-02 13:20,160,186,61.0,0.0,10,Thursday,False
3,998969850F,2014-01-02 14:30,174,186,52.0,0.0,10,Thursday,False
4,998969850F,2014-01-03 09:05,109,186,57.0,0.0,10,Friday,False

In [161]:
for i in range (0,len(hereslink)):
    if hereslink.loc[i,'Considered?'] == True:
        Morning.loc[i,:'DOW'] = hereslink.loc[i,:'DOW']
    else:
        Morning.loc[i,:'DOW'].isnull()

IndexingError: Too many indexers

In [169]:
hereslink.drop(hereslink.loc['Considered?']==False)
hereslink.head()
#I'm trying to drop rows that aren't within the time range

KeyError: 'the label [Considered?] is not in the [index]'